extends ../layout

block content

  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container-fluid
        a.brand(href='#') #{"Express ePub Viewer"}
        .navbar-content
          ul.nav.nav-pills
            li.active
              a(href='/files') #{'一覧'}
            li
              a(href='/files/upload') #{'登録'}
            li
              a(href='/help') #{'ヘルプ'}

  #cont

    aside
      div.centered#index_label
        span #{info.opf.dc.title}
        br
        .btn.btn-info.pos-prev(rel="tooltip", title="目次 前へ") #{"◀"}
        span #{" 目次"}
        .btn.btn-info.pos-next(rel="tooltip", title="目次 次へ") #{"▶"}
        a(href="/unziped/files/"+info.epub.epub_name, rel="tooltip", title="内部ファイルを閲覧します。", target="_blank")#unzipped_files
          img(src="images/logo-extractor.png", width="24", height="24")
      div
        div#index_list(style="overflow:scroll;")
          - pos = 0;
          - if (info.ncx != null)
            - each topic in info.ncx.navPoint
              - lop = topic.level;
              - for (i = 1; i < lop; i++) {
                &nbsp;&nbsp;
              - }
                a.toc-item(pos=pos, chap=chap[topic.content]) #{topic.text}
                br
              - pos += 1;
    div
      iframe(id="myframe")

  != "<script type='text/javascript'>"
  != "var toc = [];"
  - if (info.ncx != null)
    - each topic in info.ncx.navPoint
      - url = "/unziped/files/" + info.epub.epub_name + "/" + info.opf_dir + "/" + topic.content;
      != "toc.push('" + url + "');"
  - else
    - each topic in chap
      - url = "/unziped/files/" + info.epub.epub_name + "/" + info.opf_dir + "/" + topic;
      != "toc.push('" + url + "');"
  != "var chap = [];"
  - each topic in chap
    - url = "/unziped/files/" + info.epub.epub_name + "/" + info.opf_dir + "/" + topic;
    != "chap.push('" + url + "');"
  != "var pos2chap = [];"
  - each v in pos2chap
    != "pos2chap.push(" + v + ");"
  != "var chap2pos = [];"
  - each v in chap2pos
    != "chap2pos.push(" + v + ");"
  != "</script>"

  script(type="text/javascript")
    var cur_pos;
    var cur_chap_pos;
    var right_panel_x;

    function set_index(flag) {
      if (flag === "true") {
        show_index();
      } else {
        // Hide index
        var pos = $(".right_panel").position();
        right_panel_x = pos.left;

        hide_index();
      }
    };

    function show_index() {
      var height_cont = $("#cont").height();
      var height_label = $("#index_label").height();
      var height_list = height_cont - height_label;

      $("aside").css({height:height_cont}).css({overflow:"hidden"});
      $(".vspliter").css({height:height_cont});
      $("#index_list").css({height:height_list});

      var width_right = $(cont).width() - right_panel_x - 6;     // 6: width of vspliter

      $(".right_panel").css({width:width_right}).css({left:right_panel_x}).css({overflow:"hidden"});

      var height_iframe = $(".right_panel").height() - 10;
      var width_iframe = width_right - 6;
      $("#myframe").css({width:width_iframe}).css({height:height_iframe});

      $(".show-index").hide();
      $(".hide-index").show();
    }

    function hide_index() {
      $("aside").css({height:0});
      $(".vspliter").css({height: 0});

      var width_right = $("#cont").width() - 4;
      $(".right_panel").css({width:width_right}).css({left:0});

      var width_iframe = $("#cont").width() - 12;
      var height_iframe = $("#cont").height() - 10;
      $("#myframe").css({width:width_iframe}).css({height:height_iframe});

      $(".show-index").show();
      $(".hide-index").hide();
    }

    $(function() {

      function load_chap(chap_pos, move) {
        var to_chap_pos = 0;
        if (chap_pos) { 
          to_chap_pos = parseInt(chap_pos, 10);
        }
        if (move) { to_chap_pos += parseInt(move, 10); }
        if (to_chap_pos < 0) { to_chap_pos = 0; }
        if (to_chap_pos > chap.length - 1) { to_chap_pos = chap.length - 1; }
        cur_chap_pos = to_chap_pos;
        cur_pos = chap2pos[cur_chap_pos];
        $.cookie("chap:" + document.location, cur_chap_pos, { expires: 7 });

        $('#myframe').attr("src", chap[to_chap_pos]);
        set_index_pos(cur_pos);
      }

      function load_pos(pos, move) {

        var to_pos = 0;
        if (pos) { 
          to_pos = parseInt(pos, 10);
        }
        if (move) { to_pos += parseInt(move, 10); }
        if (to_pos < 0) { to_pos = 0; }
        if (to_pos > toc.length - 1) { to_pos = toc.length - 1; }
        cur_pos = to_pos;
        cur_chap_pos = pos2chap[cur_pos]; 
        $.cookie("pos:" + document.location, cur_pos, { expires: 7 });

        $('#myframe').attr("src", toc[to_pos]);

        set_index_pos(cur_pos);
      };

      function set_index_pos(pos) {

        $(".chap-prev").show();
        $(".chap-next").show();

        $('.red-item').removeClass("red-item");
        $('.toc-item').each(  function() {
          if ($(this).attr("pos") == pos) {
            $(this).addClass("red-item");
          }
        });

        if (cur_chap_pos == 0) {
          $(".chap-prev").attr("disabled", true);
          $(".chap-next").removeAttr("disabled");
        }
        if (cur_chap_pos == chap.length - 1) {
          $(".chap-prev").removeAttr("disabled");
          $(".chap-next").attr("disabled", true);
        }
      }

      $(".toc-item").click(function() {
        var pos = $(this).attr("pos");
        load_pos(pos, 0);
      });

      $(".pos-prev").click(function() {
        load_pos(cur_pos, -1);
      });

      $(".pos-next").click(function() {
        load_pos(cur_pos, 1);
      });

      $(".chap-prev").click(function() {
        load_chap(cur_chap_pos, -1);
      });

      $(".chap-next").click(function() {
        load_chap(cur_chap_pos, 1);
      });

      $(".history-prev").click(function() {
        hisory.back();
      });

      $(".history-next").click(function() {
        hisory.go();
      });

      var isShow_index = "true";
      if ($.cookie('show-index') === "true") {
        isShow_index = "true";
      } else {
        isShow_index = "false";
      } 

      var height1 = $(".navbar").height();
      var height2 = $("footer").height();
      var height = $(window).height() - height1 - height2 - 42;
      $("#cont").css({height:height}).split({orientation: "vertical", limit: 100, position:"30%"});

      var pos = $(".right_panel").position();
      right_panel_x = pos.left;
      set_index(isShow_index);

      var pos = 0;
      if ($.cookie("pos:" + document.location)) {
        pos = parseInt($.cookie("pos:" + document.location), 10);
      }
      load_pos(pos, 0);
    });
