extends ../layout

block content


  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container-fluid
        a.brand(href='#') #{"Express ePub Viewer"}
        .navbar-content
          ul.nav.nav-pills
            li.active
              a(href='/files') #{'一覧'}
            li
              a(href='/files/upload') #{'登録'}
            li
              a(href='/help') #{'ヘルプ'}

  #cont
    aside
      div.centered#index_label
        span #{info.opf.dc.title}
        br
        a.page_prev(rel="tooltip", title="目次 前へ") #{" ◀  "}
        span #{"　目次　"}
        a.page_next(rel="tooltip", title="目次 次へ") #{" ▶  "}
        a(href="/unziped/files/"+info.epub.epub_name, rel="tooltip", title="内部ファイルを閲覧します。")#unzipped_files
          img(src="images/logo-extractor.png", width="24", height="24")
      div
        h2.center
        div#index_list(style="overflow:scroll;")
          ul
            - pos = 0
            - each topic in info.ncx.navPoint
              - lop = topic.level 
              - for (i = 1; i < lop; i++) {
                  &nbsp;&nbsp;
              - }
              a.toc_item(src="", pos=pos) #{topic.text}
              - pos += 1
              br
    iframe(id="myframe")
      ご利用のブラウザでは対応しておりません。

  != "<script type='text/javascript'>"
  != "var toc = [];"
  - each topic in info.ncx.navPoint
    - url = "/unziped/files/" + info.epub.epub_name + "/" + info.opf_dir + "/" + topic.content;
    != "toc.push('" + url + "');"
  != "</script>"

  script(type="text/javascript")
    var cur_pos = 0;

    $(function() {

      function load_page(pos, move) {

        var to_pos = parseInt(pos)
        if (move) { to_pos += parseInt(move); }
        if (to_pos < 0) { to_pos = 0; }
        if (to_pos > toc.length - 1) { to_pos = toc.length - 1; }
        cur_pos = to_pos;

        $('#myframe').attr("src", toc[to_pos]);

        $('.red_item').removeClass("red_item");
        $('.toc_item').each(  function() {
          if ($(this).attr("pos") == to_pos) {
            $(this).addClass("red_item");
          }
        });
      };

      $(".toc_item").click(function() {
        var pos = $(this).attr("pos");
        load_page(pos, 0);
      });

      $(".page_prev").click(function() {
        load_page(cur_pos, -1);
      });

      $(".page_next").click(function() {
        load_page(cur_pos, 1);
      });

      $(".history_prev").click(function() {
        hisory.back();
      });

      $(".history_next").click(function() {
        hisory.go();
      });

      load_page(0, 0);

      $("iframe.resizable:not(.processed)").TextAreaResizer();

      var height1 = $(".navbar").height();
      var height2 = $("footer").height();
      var height = $(window).height() - height1 - height2 - 72;

      $("#cont").css({height:height}).split({orientation: "vertical", limit: 100, position:"30%"});
      var height_iframe = $(".right_panel").height() - 20;
      var width_iframe = $(".right_panel").width() - 20;

      $("#myframe").css({height:height_iframe}).css({width:width_iframe});

      var height3 = $("#index_lable").height();
      height = height - height3 -72;
      $("#index_list").css({height:height});
    });
