extends ../layout

block content

  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container-fluid
        a.brand(href='#') #{"Express ePub Viewer"}
        .navbar-content
          ul.nav.nav-pills
            li.active
              a(href='/files') #{'一覧'}
            li
              a(href='/files/upload') #{'登録'}
            li
              a(href='/help') #{'ヘルプ'}

  #cont

    aside
      div.centered#index_label
        span #{info.opf.dc.title}
        br
        a.page_prev(rel="tooltip", title="目次 前へ") #{" ◀  "}
        span #{"　目次　"}
        a.page_next(rel="tooltip", title="目次 次へ") #{" ▶  "}
        a(href="/unziped/files/"+info.epub.epub_name, rel="tooltip", title="内部ファイルを閲覧します。")#unzipped_files
          img(src="images/logo-extractor.png", width="24", height="24")
      div
        div#index_list(style="overflow:scroll;")
          ul
            - pos = 0
            - each topic in info.ncx.navPoint
              - lop = topic.level 
              - for (i = 1; i < lop; i++) {
                  &nbsp;&nbsp;
              - }
              a.toc_item(src="", pos=pos) #{topic.text}
              - pos += 1
              br
    div
      iframe(id="myframe")

  != "<script type='text/javascript'>"
  != "var toc = [];"
  - each topic in info.ncx.navPoint
    - url = "/unziped/files/" + info.epub.epub_name + "/" + info.opf_dir + "/" + topic.content;
    != "toc.push('" + url + "');"
  != "</script>"

  script(type="text/javascript")
    var cur_pos;
    var right_panel_x;

    function set_index(flag) {
      if (flag === "true") {
        show_index();
      } else {
        // Hide index
        var pos = $(".right_panel").position();
        right_panel_x = pos.left;

        hide_index();
      }
    };

    function show_index() {
      var height_cont = $("#cont").height();
      var height_label = $("#index_label").height();
      var height_list = height_cont - height_label;

      $("aside").css({height:height_cont}).css({overflow:"hidden"});
      $(".vspliter").css({height:height_cont});
      $("#index_list").css({height:height_list});

      var width_right = $(cont).width() - right_panel_x - 6;     // 6: width of vspliter

      $(".right_panel").css({width:width_right}).css({left:right_panel_x}).css({overflow:"hidden"});

      var height_iframe = $(".right_panel").height() - 10;
      var width_iframe = width_right - 6;
      $("#myframe").css({width:width_iframe}).css({height:height_iframe});

      $("#show-index").hide();
      $("#hide-index").show();
    }

    function hide_index() {
      $("aside").css({height:0});
      $(".vspliter").css({height: 0});

      var width_right = $("#cont").width() - 4;
      $(".right_panel").css({width:width_right}).css({left:0});

      var width_iframe = $("#cont").width() - 12;
      var height_iframe = $("#cont").height() - 10;
      $("#myframe").css({width:width_iframe}).css({height:height_iframe});

      $("#show-index").show();
      $("#hide-index").hide();
    }

    $(function() {

      function load_page(pos, move) {

        var to_pos = 0;
        if (pos) { 
          to_pos = parseInt(pos, 10);
        }
        if (move) { to_pos += parseInt(move, 10); }
        if (to_pos < 0) { to_pos = 0; }
        if (to_pos > toc.length - 1) { to_pos = toc.length - 1; }
        cur_pos = to_pos;
        $.cookie("" + document.location, cur_pos, { expires: 7 });

        $('#myframe').attr("src", toc[to_pos]);

        $('.red_item').removeClass("red_item");
        $('.toc_item').each(  function() {
          if ($(this).attr("pos") == to_pos) {
            $(this).addClass("red_item");
          }
        });
      };

      $(".toc_item").click(function() {
        var pos = $(this).attr("pos");
        load_page(pos, 0);
      });

      $(".page_prev").click(function() {
        load_page(cur_pos, -1);
      });

      $(".page_next").click(function() {
        load_page(cur_pos, 1);
      });

      $(".history_prev").click(function() {
        hisory.back();
      });

      $(".history_next").click(function() {
        hisory.go();
      });


      var isShow_index = "true";
      if ($.cookie('show-index') === "true") {
        isShow_index = "true";
      } else {
        isShow_index = "false";
      } 

      var height1 = $(".navbar").height();
      var height2 = $("footer").height();
      var height = $(window).height() - height1 - height2 - 42;
      $("#cont").css({height:height}).split({orientation: "vertical", limit: 100, position:"30%"});

      var pos = $(".right_panel").position();
      right_panel_x = pos.left;
      set_index(isShow_index);

      var pos = 0;
      if ($.cookie("" + document.location)) {
        pos = parseInt($.cookie("" + document.location), 10);
      }
      load_page(pos, 0);
    });
