extends ../layout

block content

  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container-fluid
        a.brand(href='#') #{"Express eBook Viewer"}
        .navbar-content
          ul.nav.nav-pills
            li
              a(href='/files') #{'一覧'}
            li.active
              a(href='/files/upload') #{'登録'}
            li
              a(href='/help') #{'ヘルプ'}

  center
    div
      span #{"サポートしている書式： *.epub, *.pdf, *.mobi, *.chm"}

      form(action="/upload", method="POST", enctype="multipart/form-data")
        .control-group
          label.control-label(for="file")
          .controls
            input(id="file", type="file", name="file", required="true")
          .controls
            button.btn.btn-info#submit(type="submit", name="submit") #{"ローカルファイルをアップロード"}

    div
      form(action="/upload/url", method="POST")
        .control-group
          .controls
            input#q(type="text", name="q", required="true", placeholder="http://")
          .controls
            button.btn.btn-info#submit_url(type="submit", name="submit_url", value="") #{"URL からアップロード"}

    div
      strong #{"参考サイト"}
      br
      a(href="http://aozora.wook.jp/", target="_blank") #{"青空文庫 ePub形式配信"}
      br
      a(href="http://www.gutenberg.org/", target="_blank") #{"プロジェクト グーテンベルク"}
      br
      a(href="http://www.oreilly.co.jp/ebook/#all_titles", target="_blank") #{"オライリー ebook"}
      br
      a(href="http://shop.oreilly.com/category/ebooks.do#all_titles", target="_blank") #{"O'Reilly ebook"}
      br
      a(href="http://www.techsupportalert.com/content/free-epub-books-online.htm", target="_blank") #{"Free ePub Books Online"}
      br
      a(href="http://www.epubread.com/en/ebooks.php", target="_blank") #{"epubreader.com"}
      br
      a(href="http://archive.org/index.php", target="_blank") #{"archive.org"}
      br
      a(href="http://www.epubcafe.jp/jbasic", target="_blank") #{"ePub Cafe"}
      br
